<ul class="navigation">
      <li class="">
        <a href = "{{ 'about/' | relative_url }}">
          <span class="link link-underline link-underline-black">About</span>
        </a>
      </li>
      <li class="">
        <a href = "https://totaldev.com/">
          <span class="link link-underline link-underline-black">Blog</span>
        </a>
      </li>
      <li class="">
        <a href = "{{ 'projects/' | relative_url }}">
          <span class="link link-underline link-underline-black">Projects</span>
        </a>
      </li>
      <li class="">
        <a href = "{{ 'contact/' | relative_url }}">
          <span class="link link-underline link-underline-black">Contact</span>
        </a>
      </li>
</ul>