<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{"/favicon.ico" | relative_url }}" type="image/x-icon" />
    <link rel="dns-prefetch" href="https://{{ site.disqus.shortname }}.disqus.com">
    <meta
    itemprop="description"
    name="description"
    content="
        {% if page.description %}
            {{ page.description | truncate: 160 }}
        {% else %}
            {{ site.description | truncate: 160  }}
        {% endif %}"
    />
    <title>
      {%if page.title %}
          {{ page.title }}
      {% else %}
          {{ site.title }}
      {% endif %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Reem+Kufi:wght@600&display=swap" rel="stylesheet">
      <link href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
    <!-- async load css file -->
    <link rel="stylesheet" href="{{"/assets/css/styles.css" | relative_url}}" media="none" onload="if(media!='all')media='all'">
    <!-- Load css when script is disabled -->
    <noscript><link rel="stylesheet" href="{{"/assets/css/styles.css" | relative_url}}"></noscript>

    {% feed_meta %}
    {% seo %}

  </head>
    <body>
      {{ content }}
    </body>
</html>