---
title: Rohit Jain
layout: default
---
<div class="mid-section-home">
    <h1 class="main-title"><span>Hello, I'm Rajesh Kasula!</h1>
    <div class="sub-heading">
        <div class="summary-about-me">
            <p>{{ page.home_text }}</p>
        </div>
        <ul class="social-icons">
            <li>
            <a class="" target="_blank" href="https://github.com/iamrkasula">
                <i class="fab fa-github text-3xl px-2 hover:text-gray-500" aria-hidden="true" title="Github"></i>
                    <span class="sr-only">Github</span>
            </a></li><li>
            <a class="" target="_blank" href="https://twitter.com/iamrkasula">
                <i class="fab fa-twitter text-3xl px-2 hover:text-blue-400" aria-hidden="true" title="Twitter"></i>
                <span class="sr-only">Twitter</span>
            </a></li><li>
            <a class="" target="_blank" href="https://www.linkedin.com/in/rajesh-kasula-85a3a65b/">
                <i class="fab fa-linkedin text-3xl px-2 hover:text-blue-800" aria-hidden="true" title="LinkedIn"></i>
                <span class="sr-only">LinkedIn</span>
            </a></li>
        </ul>
        <div>
            {% include navigation.html %}
        </div>
    </div>
</div>
